# Byte-compiled / optimized / DLL files
__pycache__
.mypy_cache
**/coverage

**/.git
**/.gitignore
.github
**/.gitlab

**/.aws
**/.ssh

.idea
**/.vscode
**/.DS_Store

**/.env
**/venv
**/.venv
**/env

.dockerignore
**Dockerfile
docker-compose.yml

**/log.json

**/.temp
