__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

.git
.github
.gitignore

.idea
.vscode
.claude
.DS_Store

.env
.venv
venv

tests/
docs/
*.md

.dockerignore
Dockerfile
docker-compose.yml

.pre-commit-config.yaml
ruff.toml
renovate.json
