# Database
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=local
DATABASE_HOST=localhost
DATABASE_NAME=main
DATABASE_PORT=5432

# General
APP_NAME=fastapi-template
ENVIRONMENT=dev
LOG_LEVEL=INFO

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
